
@{
    ViewBag.Title = "authAdmin";
}



    <table align="center" borter="1">
        <tbody>
            <h2>authAdmin</h2>
            <tr align="center">
                <td colspan="2"> <label> Nom Admin : </label></td><td>
                <input type="number" name="id"></td>
            </tr>
            <tr><td><label>  email Admin : </label></td><td><input type="number" name="id"></td></tr>
           

            <tr> @Html.ActionLink("entrez", "home_admin", "Home")</tr>
        </tbody>
    </table>


